/* _content/CardManager/Components/Layout/MainLayout.razor.rz.scp.css */
#blazor-error-ui[b-2yqsbdnb8d] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-2yqsbdnb8d] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/CardManager/Components/Pages/CardComponents/CreateDialog.razor.rz.scp.css */
/* 
.create-form div {
    width: 200px;
} */
/* _content/CardManager/Components/Pages/CardComponents/DeleteDialog.razor.rz.scp.css */
.buttons[b-mgkvc99rc9] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    column-gap: 10px;
}
/* _content/CardManager/Components/Pages/CardComponents/EditDialog.razor.rz.scp.css */
.edit-form[b-j50dpgo59t] {
    display: grid;
    grid-template-columns: auto auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: fit-content;
}
/* _content/CardManager/Components/Pages/Home.razor.rz.scp.css */
.header[b-47gte20qou] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title[b-47gte20qou] {
    width: 80%;
    background-color: #474747;
    /* Cor de fundo */
    color: white;
    /* Cor do texto */
    padding: 10px;
    /* Espaçamento interno */
    margin: 20px;
    border-radius: 5px;
    /* Borda arredondada */
    text-align: center;
}

.card-title[b-47gte20qou] {
    text-transform: capitalize;
}

.cards-list[b-47gte20qou] {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.card-group[b-47gte20qou] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 350px;
}

.card-item[b-47gte20qou] {
    font-size: 13px;
    padding: 15px 15px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 350px;
    font-weight: bold;
    border: 7px solid black;
    border-radius: 7px;
}

.card-header[b-47gte20qou] {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.margin-h[b-47gte20qou] {
    margin: 0 5px;
}

.mana-group[b-47gte20qou] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mana-cost[b-47gte20qou] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 10px;
}

.card-image[b-47gte20qou] {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-description[b-47gte20qou] {
    height: 125px;
}

.card-description[b-47gte20qou]::first-letter {
    text-transform: uppercase;
}

.card-stats[b-47gte20qou] {
    display: flex;
    justify-content: right;
    align-items: center;
    transform: translate(10%, 150%);
}

.card-stats span[b-47gte20qou] {
    text-align: center;
    background-color: #A6A6A6;
    padding: 3px;
    width: 70%;
}
